@model Product


<div class="container px-5 my-5">
    <form>

        <div class="form-floating mb-3">
            <input disabled class=" form-control" name="id" type="text" value="@Model.Id" />
            <label for="id">Id</label>
        </div>

        <div class="form-floating mb-3">
            <input disabled class=" form-control" name="name" type="text" value="@Model.Name" />
            <label for="name">Name</label>
        </div>

        <div class="form-floating mb-3">
            <input disabled class=" form-control" name="price" type="text" value="@Model.Price" />
            <label for="price">Price</label>
        </div>

        <div class="form-floating mb-3">
            <input disabled class=" form-control" name="description" type="text" value="@Model.Description" />
            <label for="description">Description</label>
        </div>

        <div class="form-floating mb-3">
            <input disabled class=" form-control" name="category" type="text" value="@Model.Category.Name" />
            <label for="category">Category</label>
            </div>
       
      
    </form>
</div>
